.Login {
    width: 350px;
    margin: 0 auto;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
    width: calc(100% - 10px);
    padding: 6px;
    margin: 12px 0 0 0;
    border-radius: 8px;
    outline: none;
    border: 1px solid #bbb;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
}

input[type=button] {
    margin: 12px 0 0 0;
    border-radius: 6px;
    padding: 6px 8px;
    background: linear-gradient(#5ce695, #2cc26a);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 0 0;
}

.links a {
    text-decoration: underline #bbb;
    color: #239955;
    font-size: 0.9em;
}